.node {
    cursor: pointer;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  let hoverCircleNodeClass {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1px;
}
.tooltip {
  position: absolute;
  background-color: #ccc;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
 visibility: hidden;
  transition: visibility 0.3s ease;
}
#graph{
  background-color: rgb(8, 7, 6);
  overflow: hidden;
}
