.node {
    cursor: pointer;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  let hoverCircleNodeClass {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 10px;
}
#tooltip {
  position: absolute;
  background-color: #ccc;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
 visibility: hidden;
  transition: visibility 0.3s ease;
}
#graph{
  overflow: hidden;
  /* background-color: black; */
}
#container{
  display: flex;
  position: absolute;
  top: 60px;
  right: 30px;
  border:thick double #cedde3;
  background-color: rgb(245, 235, 235);

}
.circle{
  fill: "#ccc";
  stroke-width: 3px;
  display: block;
}
.label {

  font-family: Arial, sans-serif;
  font-size: 10px;  /* You can adjust the font size as needed */
}